<p id="notice"><%= notice %></p>

<h1>Issued Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rollno</th>
      <th>Email</th>
      <th>Equipment</th>
      <th>Issuedate</th>
      <th>Returndate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issued_items.each do |issued_item| %>
      <tr>
        <td><%= issued_item.Name %></td>
        <td><%= issued_item.RollNo %></td>
        <td><%= issued_item.Email %></td>
        <td><%= issued_item.Equipment %></td>
        <td><%= issued_item.IssueDate %></td>
        <td><%= issued_item.ReturnDate %></td>
        <td><%= link_to 'Show', issued_item %></td>
        <td><%= link_to 'Edit', edit_issued_item_path(issued_item) %></td>
        <td><%= link_to 'Destroy', issued_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issued Item', new_issued_item_path %>
